body {
  background-color: #f7fcff;
}

.index {
  width: 97%;
  max-width: 750px;
  margin: 0 auto;
  margin-top: 20px;
}

.example-table {
  border-collapse: separate;
}

.example-table td {
  border: 1px solid black;
  width: 20px;
  height: 20px;
}

.example-table .current {
  background-color: #fcc;
}

.example-table .n {
  border-top-color: transparent;
}

.example-table .s {
  border-bottom-color: transparent;
}

.example-table .e {
  border-right-color: transparent;
}

.example-table .w {
  border-left-color: transparent;
}

.lesson-content table {
}

.lesson-content td {
  border: 1px solid black;
  padding: 8px;
}

.lesson-content td input {
  min-width: 300px;
}

.lesson-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.random-tweet {
  width: 100%;
  margin-top: 100px;
}

.fem-link {
  text-align: center;
}

.navbar h2 {
  font-size: 14px;
  margin: inherit;
  padding: inherit;
  text-transform: uppercase;
}

.button {
  border-radius: 10px;
  background: #142664;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.button a {
  color: white;
  text-decoration: none;
}

.button a:hover {
  text-decoration: underline;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}

.navbar {
  position: relative;
  padding: .5rem 1rem;
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}