.main-card {
  border: 2px solid #bae4e8;
  border-radius: 8px;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: white;
  padding: 30px;
}

.lesson-title {
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 5px;
}

.sections-name {
  list-style: none;
}

.lesson-section-title {
  margin-top: 25px;
}
