@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto';
  background-color: #0091ad;
}

a,
li a {
  color: #6f84a1;
}

.navbar {
  border-bottom: solid 4px #bae4e8;
}

li {
  padding: 10px 0px 0px 10px;
}

.gradient {
  background: linear-gradient(135deg, #0091ad 0%, #0091ad 100%);
}

.lesson {
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  margin-top: 60px;
  margin-bottom: 60px;
}

.lesson-content {
  padding: 0;
}

p {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  line-height: 1.5;
}
h3 h2,
h1 {
  margin-top: 30px !important;
  margin-bottom: 20px !important;
}

p {
  margin-bottom: 20px;
  line-height: 2;
}

.lesson-links {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 20px;
}

.gatsby-highlight {
  margin-bottom: 40px;
}
